.header
{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: cyan;
    text-align: center;
    width: 100%;
    margin: 0px;
    border-style: solid;
    border-bottom-color: cyan;
    border-width: 0px 0px 4px 0px;
    font-family: "Aclonica", cursive;
    white-space: nowrap;
    position: fixed;
    top: 0;
}
.header img
{
    height: 60px;
}
.background
{
    background-image: url(http://1.bp.blogspot.com/-RysZHAPE2lU/Tz9AIorzUSI/AAAAAAAAByc/8HSGxv9PjO8/s1600/cool+background+designs+vbnvcn.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.main
{
    display: table;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
}
.main table tr:first-child td div, .main table tr:last-child td div, .main table tr td img
{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-color: cyan;
    border-width: 4px;
    border-style: solid;
    margin: 15px;
    border-radius: 5%;
    height: 250px;
    width: 250px;
}
.main table tr td div h3
{
    text-align: center;
    font-family: "Aclonica", cursive;
    color: purple;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main table tr td div ul li
{
    font-size: large;
    margin: 5px;
}
.footer
{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: cyan;
    text-align: center;
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-style: solid;
    border-top-color: cyan;
    border-width: 4px 0px 0px 0px;
}
.footer table
{
    display: table;
    margin: auto;
}
.footer table tr td
{
    width: 240px;
    white-space: nowrap;
}
.footer table tr td h2 i
{
    color: coral;
}

.page
{
    display: table;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.genre
{
    font-family: "Aclonica", cursive;
    font-size: large;
    color: coral;
    margin: 15px;
}
.page tr td img
{
    width: 120px;
    height: 180px;
    margin: 10px;
    border-color: cyan;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
}
.section
{
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    color: coral;
    text-align: center;
    font-family: "Aclonica", cursive;
    font-size: xx-large;
}

.referrals
{
    display: table;
    margin: auto;
    margin: 80px;
}
.referrals:first-child
{
    background-color: transparent;
}
.row td:first-child
{
    font-family: "Aclonica", cursive;
    color: coral;
    font-size: large;
    width: 200px;
    margin: 20px 20px 20px 50px;
}
.row td:last-child
{
    margin: 20px 50px 20px 20px;
    color: coral;
}